<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>table布局</title>
  <style>
    .wrap {
      display: table;
    }
    .left, .center, .right {
      display: table-cell;
    }
    .left {
      width: 100px;
      background-color: #6AC5AC;
    }
    .center {
      background-color: #FCC777;
    }
    .right {
      width: 200px;
      background-color: #D66666;
    }
  </style>
</head>
<body>
  <h2>table三栏布局</h2>
  <pre>
    1、父元素设置display:table; 子元素设置display: table-cell;
    2、哪个自适应，就不设置宽度，其宽度会随着内容的增多而自动撑开
    
  </pre>
  <div class="wrap">
    <div class="left">left</div>
    <div class="center">
      center
      <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. -->
      <img src="http://img.zcool.cn/community/01f9ea56e282836ac72531cbe0233b.jpg@2o.jpg" alt="" width="100" heigth="100">
    </div>
    <div class="right">right</div>
  </div>
</body>
</html>