<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>图片定高/不定高水平垂直居中</title>
  <style>
    .box {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 400px;
      height: 400px;
      border: 1px solid #409EFF;
    }
  </style>
</head>
<body>
  <pre>
    图片定高/不定高水平垂直居中
  </pre>
  <div class="box">
    <img src="https://via.placeholder.com/100x200.png/ccc/409EFF?text=PH">
  </div>
</body>
</html>